@font-face {
  font-family: 'iconfont_menu';
  src: url('../font_1554478_8mvzsba29mc/iconfont.eot?t=1587063477480');
  src: url('../font_1554478_8mvzsba29mc/iconfont.eot?t=1587063477480#iefix') format('embedded-opentype'),
      url('../font_1554478_8mvzsba29mc/iconfont.woff2?t=1587063477480') format('woff2'),
      url('../font_1554478_8mvzsba29mc/iconfont.woff?t=1587063477480') format('woff'),
      url('../font_1554478_8mvzsba29mc/iconfont.ttf?t=1587063477480') format('truetype'),
			url('../font_1554478_8mvzsba29mc/iconfont.svg?t=1587063477480#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont_menu" !important;
	font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-food:before {
	content: "\e728";
	color: brown;
}

.icon-liren:before {
	content: "\e628";
	color: burlywood;
}

.icon-takeout:before {
	content: "\e622";
	color: cyan;
}

.icon-hotel:before {
	content: "\e647";
	color: darkkhaki;
}

.icon-fuwu:before {
	content: "\e61e";
	color: darkorange;
}

.icon-movie:before {
	content: "\e69e";
	color: darkslateblue;
}

.icon-hotel:before {
	content: "\e6a0";
	color: deepskyblue;
}

.icon-yule:before {
	content: "\e7f1";
	color: fuchsia;
}

.icon-ticket:before {
	content: "\e70d";
	color: green;
}

.icon-arrow:before {
  content: "\e618";
}

.icon-minsu:before {
	content: "\e644";
	color: hotpink;
}

/* .icon-kepujiaoyu:before {
  content: "\e607";
}

.icon-dangwu:before {
  content: "\e608";
}

.icon-louyushuoshi:before {
  content: "\e609";
}

.icon-shequshuoshi:before {
  content: "\e60a";
}

.icon-quyushuoshi:before {
  content: "\e60b";
}

.icon-shuoshiguize:before {
  content: "\e60c";
}

.icon-xiaoqushuoshi:before {
  content: "\e60d";
}

.icon-fuwuguize:before {
  content: "\e60e";
}

.icon-shegongyingda:before {
  content: "\e60f";
}

.icon-zhiyuanzhaomu:before {
  content: "\e610";
}

.icon-fuwutuandui:before {
  content: "\e611";
}

.icon-fuwuxuqiu:before {
  content: "\e612";
}

.icon-meitifabu:before {
  content: "\e613";
}

.icon-huodongzhanshi:before {
  content: "\e614";
}

.icon-caiyizhanshi:before {
  content: "\e615";
}

.icon-tuanjianxinxi:before {
  content: "\e616";
}

.icon-zhanshiguize:before {
  content: "\e617";
}
 */
